{{ domain_cluster }}.          IN SOA   registry.{{ domain_cluster }}. cloudctl.{{ domain_cluster }}. {{ db_time }} 7200 3600 1209600 3600
cloudctl.{{ domain_cluster }}. IN A     {{ listen_address }}
registry.{{ domain_cluster }}. IN A     {{ listen_address }}
*.apps.{{ domain_cluster }}.    IN CNAME {{ apps_elb_fqdn  | default('null') }}
api.{{ domain_cluster }}.      IN CNAME {{ infra_elb_fqdn | default('null') }}
api-int.{{ domain_cluster }}.  IN CNAME {{ infra_elb_fqdn | default('null') }}
etcd-0.{{ domain_cluster }}.   IN A     {{ master_ipv4_a  | default('10.0.0.51') }}
etcd-1.{{ domain_cluster }}.   IN A     {{ master_ipv4_b  | default('10.0.0.52') }}
etcd-2.{{ domain_cluster }}.   IN A     {{ master_ipv4_c  | default('10.0.0.53') }}
