version: 0.1
log:
  fields:  
    service: registry
    environment: cloudctl
  level: debug
  formatter: text
auth:
  htpasswd:
    realm: basic-realm
    path: /etc/docker/registry/auth/htpasswd
http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
  tls:
    certificate: /etc/docker/registry/ssl/registry.crt
    key: /etc/docker/registry/ssl/registry.key
  debug:
    addr: localhost:4999
    prometheus:
      enabled: true
      path: /metrics
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: "/root/platform/mirror"
  maintenance:
    readonly:
      enabled: false
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
