version: 0.1
log:
  fields:  
    service: registry
    environment: cloudctl
  level: debug
  formatter: text
auth:
  htpasswd:
    realm: basic-realm
    path: /root/deploy/secrets/registry/auth/htpasswd
http:
  addr: :5500
  headers:
    X-Content-Type-Options: [nosniff]
  tls:
    certificate: /root/deploy/secrets/registry/ssl/registry.crt
    key: /root/deploy/secrets/registry/ssl/registry.key
  debug:
    addr: localhost:5001
    prometheus:
      enabled: true
      path: /metrics
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: "/root/deploy/mirror"
  maintenance:
    readonly:
      enabled: false
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
