[Unit]
Description=CCIO Hypervisor Service
After=network.target
StartLimitIntervalSec=1

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/etc/ccio/bin/ccio start
ExecStop=/etc/ccio/bin/ccio stop
StandardOutput=journal

[Install]
WantedBy=multi-user.target
