# Created with podman-1.9.3 cmd:
# - `podman generate kube cloudctl`
# Generation of Kubernetes YAML is still under development!
# Use kubectl create -f to import object into Kubernetes.
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: cloudctl
  name: cloudctl
spec:
  containers:
  - env:
    - name: PATH
      value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    - name: TERM
      value: xterm
    - name: HOSTNAME
      value: cloudctl
    - name: WORKDIR
      value: /root/deploy
    - name: container
      value: oci
    - name: BUILDAH_ISOLATION
      value: chroot
    image: {{ container_uri_one }}
    name: one
    ports:
    - containerPort: 2022
      hostPort: 2022
      protocol: TCP
    resources: {}
    securityContext:
      allowPrivilegeEscalation: true
      capabilities: {}
      privileged: true
      readOnlyRootFilesystem: false
      runAsGroup: 0
      runAsUser: 0
      seLinuxOptions: {}
    tty: true
    volumeMounts:
    - mountPath: /root/deploy:z
      name: ccio-home
    - mountPath: /root/.ssh/authorized_keys:z
      name: ccio-ssh-authorized-keys
    workingDir: /root/deploy
#   - mountPath: /run/podman/io.podman
#     name: socket-io.podman
  volumes:
  - hostPath:
      path: {{ local_home }}/.ccio
      type: Directory
    name: ccio-home
  - hostPath:
      path: {{ local_home }}/.ssh/authorized_keys
      type: File
    name: ccio-ssh-authorized-keys
# - hostPath: # need to add play to configure host unix podman socket
#     path: /run/podman/io.podman
#     type: File
#     name: socket-io.podman
status: {}
