name: koffer
on:
  repository_dispatch:
    types: [koffer]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:

    - name: Git Checkout
      uses: actions/checkout@v2.3.4
      with:
        ref: ${{ github.event.client_payload.sha }}

    - name: Login Docker.io
      uses: docker/login-action@v1.9.0
      with:
        logout: true
        registry: docker.io
        username: ${{ secrets.ROBOT_USER_DOCKERHUB }}
        password: ${{ secrets.ROBOT_TOKEN_DOCKERHUB }}

    - name: Login Quay.io
      uses: docker/login-action@v1.9.0
      with:
        logout: true
        registry: quay.io
        username: ${{ secrets.ROBOT_USER_QUAY }}
        password: ${{ secrets.ROBOT_TOKEN_QUAY }}

    - name: Rake Variables
      run: |
        set -x ; \
        echo "varrundate=$(date +%y%m%d%I%M%S)" >> ${GITHUB_ENV};\
        echo "varverkuma=$(curl -s https://kuma.io/latest_version | awk -F'[%]' '{print $1}')" >> ${GITHUB_ENV};\
        echo "varverhelm=$(curl -s https://api.github.com/repos/helm/helm/releases/latest | awk -F '["v,]' '/tag_name/{print $5}')" >> ${GITHUB_ENV};\
        echo "varverjq=$(curl -s https://api.github.com/repos/stedolan/jq/releases/latest | awk -F '["jq-]' '/tag_name/{print $7}')" >> ${GITHUB_ENV};\
        echo "varveryq=$(curl -s https://api.github.com/repos/mikefarah/yq/releases/latest | awk -F '["v,]' '/tag_name/{print $5}')" >> ${GITHUB_ENV};\
        echo "varverkubevirt=$(curl -s https://api.github.com/repos/kubevirt/kubevirt/releases/latest | awk -F '["v,]' '/tag_name/{print $5}')" >> ${GITHUB_ENV};\
        echo "varvergrpcurl=$(curl -s https://api.github.com/repos/fullstorydev/grpcurl/releases/latest | awk -F '["v,]' '/tag_name/{print $5}')" >> ${GITHUB_ENV};\
        echo "varverterraform=$(curl -s https://api.github.com/repos/hashicorp/terraform/releases/latest | awk -F '["v,]' '/tag_name/{print $5}')" >> ${GITHUB_ENV};\
        echo "varveropenshift=$(curl --silent https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/release.txt | awk '/  Version/{print $2}')" >> ${GITHUB_ENV};\
        echo "varveropm=$(curl -s https://api.github.com/repos/operator-framework/operator-registry/releases/latest | awk -F '["v,]' '/tag_name/{print $5}')" >> ${GITHUB_ENV};\
        echo;  

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v1.5.1

    - name: Build Image | koffer:latest
      uses: docker/build-push-action@v2.6.1
      with:
        context: ./containers/${{ github.workflow }}
        file: ./containers/${{ github.workflow }}/Dockerfile
        platforms: linux/amd64
        pull: true
        push: true
#       load: true
        tags: |
          quay.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}
          quay.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:${{ env.varveropenshift }}
          quay.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}
          quay.io/codesparta/${{ github.workflow }}
          quay.io/codesparta/${{ github.workflow }}:${{ env.varveropenshift }}
          quay.io/codesparta/${{ github.workflow }}:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}
          quay.io/containercraft/${{ github.workflow }}
          quay.io/containercraft/${{ github.workflow }}:${{ env.varveropenshift }}
          quay.io/containercraft/${{ github.workflow }}:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}
          docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}
          docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:${{ env.varveropenshift }}
          docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}
          docker.io/codesparta/${{ github.workflow }}
          docker.io/codesparta/${{ github.workflow }}:${{ env.varveropenshift }}
          docker.io/codesparta/${{ github.workflow }}:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}
          docker.io/containercraft/${{ github.workflow }}
          docker.io/containercraft/${{ github.workflow }}:${{ env.varveropenshift }}
          docker.io/containercraft/${{ github.workflow }}:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}
        build-args: |
          varVerYq=${{ env.varveryq}}
          varVerJq=${{ env.varverjq }}
          varVerOpm=${{ env.varveropm }}
          varVerHelm=${{ env.varverhelm }}
          varRunDate=${{ env.varrundate }}
          varVerKuma=${{ env.varverkuma }}
          varVerGrpcurl=${{ env.varvergrpcurl }}
          varVerKubevirt=${{ env.varverkubevirt }}
          varVerOpenshift=${{ env.varveropenshift }}
          varVerTerraform=${{ env.varverterraform }}

    - name: Build Image | koffer:extra
      uses: docker/build-push-action@v2.6.1
      with:
        context: ./containers/${{ github.workflow }}
        file: ./containers/${{ github.workflow }}/Dockerfile.extra
        platforms: linux/amd64
        pull: true
        push: true
        tags: |
          quay.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:extra
          quay.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:extra-${{ env.varrundate }}-${{ github.sha }}
          docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:extra
          docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:extra-${{ env.varrundate }}-${{ github.sha }}

    - name: Build CloudCtl Konductor Container
      if: success()
      uses: peter-evans/repository-dispatch@v1.1.3
      with:
        event-type: konductor
        token: ${{ secrets.GH_ACTIONS_TOKEN }}
        repository: ${{ github.repository }}
        client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
