name: konductor
on:
  repository_dispatch:
    types: [konductor]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:

    - name: Git Checkout
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.client_payload.sha }}

    - name: Login Docker.io
      uses: docker/login-action@v2.0.0
      with:
        logout: true
        registry: docker.io
        username: ${{ secrets.ROBOT_USER_DOCKERHUB }}
        password: ${{ secrets.ROBOT_TOKEN_DOCKERHUB }}

    - name: Login Quay.io
      uses: docker/login-action@v2.0.0
      with:
        logout: true
        registry: quay.io
        username: ${{ secrets.ROBOT_USER_QUAY }}
        password: ${{ secrets.ROBOT_TOKEN_QUAY }}

    - name: Rake Variables
      run: |
        set -x ; \
        echo "varrundate=$(date +%y%m%d%I%M%S)" >> ${GITHUB_ENV};\
        echo "varvercode=$(curl -s https://api.github.com/repos/cdr/code-server/releases/latest | awk -F '["v,]' '/tag_name/{print $5}')" >> ${GITHUB_ENV};\
        echo "varveropenshift=$(curl --silent https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/release.txt | awk '/  Version/{print $2}')" >> ${GITHUB_ENV};\
        echo;  

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v1.6.0

    - name: Build Image 
      uses: docker/build-push-action@v2.10.0
      with:
        context: ./containers/${{ github.workflow }}
        file: ./containers/${{ github.workflow }}/Dockerfile
        push: true
        pull: true
#       load: true
        tags: |
          quay.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}
          quay.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:${{ env.varveropenshift }}
          quay.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}
          docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}
          docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:${{ env.varveropenshift }}
          docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}

          quay.io/codesparta/${{ github.workflow }}
          quay.io/codesparta/${{ github.workflow }}:latest
          quay.io/codesparta/${{ github.workflow }}:${{ env.varveropenshift }}
          quay.io/codesparta/${{ github.workflow }}:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}
          docker.io/codesparta/${{ github.workflow }}
          docker.io/codesparta/${{ github.workflow }}:latest
          docker.io/codesparta/${{ github.workflow }}:${{ env.varveropenshift }}
          docker.io/codesparta/${{ github.workflow }}:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}

          quay.io/containercraft/${{ github.workflow }}
          quay.io/containercraft/${{ github.workflow }}:latest
          quay.io/containercraft/${{ github.workflow }}:${{ env.varveropenshift }}
          quay.io/containercraft/${{ github.workflow }}:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}
          docker.io/containercraft/${{ github.workflow }}
          docker.io/containercraft/${{ github.workflow }}:latest
          docker.io/containercraft/${{ github.workflow }}:${{ env.varveropenshift }}
          docker.io/containercraft/${{ github.workflow }}:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}

          quay.io/containercraft/one
          quay.io/containercraft/one:latest
          quay.io/containercraft/one:${{ env.varveropenshift }}
          quay.io/containercraft/one:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}
          docker.io/containercraft/one
          docker.io/containercraft/one:latest
          docker.io/containercraft/one:${{ env.varveropenshift }}
          docker.io/containercraft/one:${{ env.varveropenshift }}-${{ env.varrundate }}-${{ github.sha }}

        build-args: |
          varRunDate=${{ env.varrundate }}
          varVerOpenshift=${{ env.varveropenshift }}

#   - name: Build containercraft/konductor:code
#     uses: docker/build-push-action@v2.10.0
#     with:
#       context: ./containers/${{ github.workflow }}
#       file: ./containers/${{ github.workflow }}/code.Dockerfile
#       push: true
#       pull: true
#       load: true
#       tags: |
#         quay.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:code
#         quay.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:code-${{ env.varvercode }}
#         quay.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:code-${{ env.varvercode }}-${{ github.sha }}
#         docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:code
#         docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:code-${{ env.varvercode }}
#         docker.io/${{ secrets.GIT_PROJECT }}/${{ github.workflow }}:code-${{ env.varvercode }}-${{ github.sha }}
#
#       build-args: |
#         varRunDate=${{ env.varrundate }}
#         varVerCode=${{ env.varvercode }}
