name: Workflow Dispatcher
on:
  schedule:
    - cron: '0 1 * * *'
  push:
    paths-ignore:
    - 'docs/**'
    - '**.md'
    branches: 
      - master
  pull_request:
    paths-ignore:
    - 'docs/**'
    - '**.md'
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build CloudCtl Base Container Images
      if: success()
      uses: peter-evans/repository-dispatch@v1
      with:
        event-type: base
        token: ${{ secrets.GH_ACTIONS_TOKEN }}
        repository: ${{ github.repository }}
        client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'

    - name: Build CloudCtl Kubectl Container
      if: success()
      uses: peter-evans/repository-dispatch@v1
      with:
        event-type: kubectl
        token: ${{ secrets.GH_ACTIONS_TOKEN }}
        repository: ${{ github.repository }}
        client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
